# TTI: Python For Defenders
## 5-4: Quantitative Analysis

In [2]:
from scapy.all import *
import pandas as pd

In [3]:
packets = rdpcap("emo.pcapng")

WARNING: PcapNg: TLS Key Log available, but the TLS layer is not loaded! Scapy won't be able to decrypt the packets.

In [7]:
ip_packets = [p.getlayer(IP) for p in packets if p.haslayer(IP)]

In [8]:
ip_packets[0]

<IP  version=4 ihl=5 tos=0x0 len=77 id=36144 flags= frag=0 ttl=128 proto=udp chksum=0x9257 src=10.127.0.138 dst=8.8.8.8 |<UDP  sport=53361 dport=domain len=57 chksum=0xf875 |<DNS  id=24635 qr=0 opcode=QUERY aa=0 tc=0 rd=1 ra=0 z=0 ad=0 cd=0 rcode=ok qdcount=1 ancount=0 nscount=0 arcount=0 qd=<DNSQR  qname='settings-win.data.microsoft.com.' qtype=A qclass=IN |> an=None ns=None ar=None |>>>

In [9]:
ip_data = [{"src": p.src, "dst": p.dst, "sport": p.sport, "dport": p.dport, "len": p.len} for p in ip_packets]

In [11]:
ip_df = pd.DataFrame(ip_data)

In [12]:
ip_df

               src           dst  sport  dport  len
0     10.127.0.138       8.8.8.8  53361     53   77
1          8.8.8.8  10.127.0.138     53  53361  211
2     10.127.0.138  51.104.136.2  49727    443   52
3     51.104.136.2  10.127.0.138    443  49727   52
4     10.127.0.138  51.104.136.2  49727    443   40
...            ...           ...    ...    ...  ...
2040   209.197.3.8  10.127.0.138     80  49755   40
2041  10.127.0.138   209.197.3.8  49755     80   40
2042  10.127.0.138   209.197.3.8  49755     80   40
2043   209.197.3.8  10.127.0.138     80  49755   40
2044  10.127.0.138   209.197.3.8  49755     80   40

[2045 rows x 5 columns]

In [19]:
# Total Bytes by Source
ip_df.groupby(["src", "dst"]).sum(numeric_only=True).sort_values(by="len", ascending=False)[["len"]]

                                   len
src            dst
204.79.197.200 10.127.0.138     646697
10.127.0.138   204.79.197.200    94563
209.197.3.8    10.127.0.138      66740
40.126.31.71   10.127.0.138      47942
204.79.197.203 10.127.0.138      46275
51.104.136.2   10.127.0.138      41502
52.109.13.64   10.127.0.138      19956
10.127.0.138   40.126.31.71      18739
204.79.197.222 10.127.0.138      16059
104.80.224.44  10.127.0.138      14625
52.152.110.14  10.127.0.138       9770
10.127.0.138   51.104.136.2       9605
72.21.91.29    10.127.0.138       8671
52.123.128.254 10.127.0.138       8268
13.107.42.254  10.127.0.138       8229
20.108.172.194 10.127.0.138       7231
10.127.0.138   209.197.3.8        4318
               204.79.197.203     3836
               52.152.110.14      3614
52.242.97.97   10.127.0.138       3182
182.162.143.56 10.127.0.138       3083
8.8.8.8        10.127.0.138       2880
93.184.220.29  10.127.0.138       2779
10.127.0.138   204.79.197.222     2521
               104.80.224.44      1856
               52.123.128.254     1713
               13.107.42.254      1663
               20.108.172.194     1645
               52.109.13.64       1578
               93.184.220.29      1442
               8.8.8.8            1103
               52.242.97.97       1094
               182.162.143.56     1092
               239.255.255.250     495
               72.21.91.29         466
               2.18.109.224        280
               10.127.255.255      229
52.109.13.62   10.127.0.138         40

In [20]:
pd.set_option("display.max_rows", 150)

ip_df.groupby(["src", "dst", "sport", "dport"]).sum(numeric_only=True).sort_values(by="len", ascending=False)[["len"]]

                                               len
src            dst             sport dport
204.79.197.200 10.127.0.138    443   49758  562361
                                     49745   84336
10.127.0.138   204.79.197.200  49745 443     76946
209.197.3.8    10.127.0.138    80    49755   65369
204.79.197.203 10.127.0.138    443   49737   46275
52.109.13.64   10.127.0.138    443   49762   19956
10.127.0.138   204.79.197.200  49758 443     17617
40.126.31.71   10.127.0.138    443   49740   17552
                                     49731   17552
51.104.136.2   10.127.0.138    443   49742   16304
204.79.197.222 10.127.0.138    443   49756   16059
40.126.31.71   10.127.0.138    443   49729   12838
72.21.91.29    10.127.0.138    80    49743    8671
52.123.128.254 10.127.0.138    443   49760    8268
13.107.42.254  10.127.0.138    443   49761    8229
51.104.136.2   10.127.0.138    443   49727    8033
                                     49733    7984
104.80.224.44  10.127.0.138    443   49753    7352
                                     49752    7273
20.108.172.194 10.127.0.138    443   49759    7231
10.127.0.138   40.126.31.71    49731 443      6273
                               49740 443      6265
                               49729 443      6201
51.104.136.2   10.127.0.138    443   49739    4597
                                     49741    4584
10.127.0.138   204.79.197.203  49737 443      3836
52.152.110.14  10.127.0.138    443   49744    3291
                                     49750    3288
                                     49747    3191
52.242.97.97   10.127.0.138    443   49746    3182
182.162.143.56 10.127.0.138    443   49754    3083
10.127.0.138   204.79.197.222  49756 443      2521
               51.104.136.2    49733 443      2433
                               49739 443      2168
                               49742 443      2034
93.184.220.29  10.127.0.138    80    49757    1808
10.127.0.138   52.123.128.254  49760 443      1713
               51.104.136.2    49741 443      1707
               13.107.42.254   49761 443      1663
               20.108.172.194  49759 443      1645
               52.109.13.64    49762 443      1578
               209.197.3.8     49755 80       1494
               52.152.110.14   49744 443      1270
                               49750 443      1268
               51.104.136.2    49727 443      1263
               52.242.97.97    49746 443      1094
               182.162.143.56  49754 443      1092
               52.152.110.14   49747 443      1076
93.184.220.29  10.127.0.138    80    49730     971
10.127.0.138   104.80.224.44   49753 443       967
                               49752 443       889
               93.184.220.29   49757 80        734
               209.197.3.8     49728 80        622
               239.255.255.250 51573 1900      495
               72.21.91.29     49743 80        466
               209.197.3.8     49764 80        454
                               49765 80        454
                               49763 80        454
               93.184.220.29   49730 80        448
209.197.3.8    10.127.0.138    80    49728     402
8.8.8.8        10.127.0.138    53    59875     340
209.197.3.8    10.127.0.138    80    49763     323
                                     49764     323
                                     49765     323
10.127.0.138   209.197.3.8     49721 80        280
               2.18.109.224    49711 443       280
               209.197.3.8     49704 80        280
                               49720 80        280
8.8.8.8        10.127.0.138    53    55763     270
10.127.0.138   93.184.220.29   49738 80        260
               10.127.255.255  138   138       229
8.8.8.8        10.127.0.138    53    64652     211
                                     58770     211
                                     53361     211
                                     58046     201
                                     60288     191
                                     51855     165
                                     54871     160
                                     52362     160
                                     52271     141
                                     52013     135
                                     53622     132
                                     52077     130
                                     60432     111
                                     57156     111
10.127.0.138   8.8.8.8         64652 53         99
                               51855 53         77
                               58770 53         77
                               53361 53         77
                               52271 53         76
                               54871 53         72
                               52362 53         72
                               52013 53         68
                               57156 53         63
                               52077 53         63
                               60432 53         63
                               55763 53         62
                               59875 53         60
                               60288 53         59
                               58046 53         58
                               53622 53         57
52.109.13.62   10.127.0.138    443   49737      40

In [21]:
outbound_df = ip_df[ip_df.src.str.startswith("10.")]

In [22]:
outbound_df.groupby(["src", "dst", "dport"]).sum(numeric_only=True).sort_values(by="len", ascending=False)[["len"]]

                                      len
src          dst             dport
10.127.0.138 204.79.197.200  443    94563
             40.126.31.71    443    18739
             51.104.136.2    443     9605
             209.197.3.8     80      4318
             204.79.197.203  443     3836
             52.152.110.14   443     3614
             204.79.197.222  443     2521
             104.80.224.44   443     1856
             52.123.128.254  443     1713
             13.107.42.254   443     1663
             20.108.172.194  443     1645
             52.109.13.64    443     1578
             93.184.220.29   80      1442
             8.8.8.8         53      1103
             52.242.97.97    443     1094
             182.162.143.56  443     1092
             239.255.255.250 1900     495
             72.21.91.29     80       466
             2.18.109.224    443      280
             10.127.255.255  138      229

### DNS Data

In [23]:
# Get DNS Packets Only
dns_packets = [p for p in packets if p.haslayer(DNS)]

In [24]:
dns_df = pd.DataFrame([{"id": p.id, "query": p.qd.qname.decode()} for p in dns_packets])

In [25]:
dns_df.head()

      id                             query
0  36144  settings-win.data.microsoft.com.
1  24603  settings-win.data.microsoft.com.
2  36145                   login.live.com.
3  63448                   login.live.com.
4  36146                ocsp.digicert.com.

In [26]:
dns_df \
.groupby("query") \
.count() \
.sort_values(by="id", ascending=False)

                                                    id
query
settings-win.data.microsoft.com.                     4
slscr.update.microsoft.com.                          4
api.msn.com.                                         2
bdeeb3d3f2ce8abffd84fc3a380fc37c.clo.footprintd...   2
crl3.digicert.com.                                   2
dual-s-ring.msedge.net.                              2
fe3cr.delivery.mp.microsoft.com.                     2
fp.msedge.net.                                       2
fs.microsoft.com.                                    2
l-ring.msedge.net.                                   2
login.live.com.                                      2
nexusrules.officeapps.live.com.                      2
ocsp.digicert.com.                                   2
www.bing.com.                                        2

In [29]:
outbound_ips = outbound_df.groupby("dst").count().index.values[1:]

In [30]:
ips_df = pd.DataFrame({"ip": outbound_ips})

In [31]:
ips_df

                 ip
0     104.80.224.44
1     13.107.42.254
2    182.162.143.56
3      2.18.109.224
4    20.108.172.194
5    204.79.197.200
6    204.79.197.203
7    204.79.197.222
8       209.197.3.8
9   239.255.255.250
10     40.126.31.71
11     51.104.136.2
12     52.109.13.64
13   52.123.128.254
14    52.152.110.14
15     52.242.97.97
16      72.21.91.29
17          8.8.8.8
18    93.184.220.29

In [32]:
whois_data = []

for i in outbound_ips:
    whois_result = ! whois {i} | grep -i country
    whois_data.append(whois_result)

In [33]:
ips_df["whois_country"] = whois_data

In [ ]:
import vt
import nest_asyncio
from getpass import getpass
nest_asyncio.apply()

In [ ]:
vt_api_key = getpass["Virus Total API Key: "]

In [ ]:
client = vt.Client(vt_api_key)

In [ ]:
vt_data = ips_df.ip.apply(lambda i: client.get_object(f"/ip_addresses/{i}").last_analysis_stats)

In [ ]:
ips_df["vt_harmless"] = vt_data.apply(lambda v: v["harmless"])
ips_df["vt_malicious"] = vt_data.apply(lambda v: v["malicious"])
ips_df["vt_suspicious"] = vt_data.apply(lambda v: v["suspicious"])

In [ ]:
ips_df.sort_values(by=["vt_malicious", "vt_suspicious", "vt_harmless"], ascending=False)